In [4]:
import pandas as pd 
import numpy as np

In [5]:
dataset = pd.read_csv('meta_df.csv')

In [6]:
dataset.shape

(4784, 13)

In [7]:
dataset.head()

,img_id,img_width,img_height,img_file,cat_id,cat_name,supercategory,ann_id,x,y,width,height,area
0,0,1537,2049,batch_1/000006.jpg,6,Glass bottle,Bottle,1,517.0,127.0,447.0,1322.0,403954.0
1,1,1537,2049,batch_1/000008.jpg,18,Meal carton,Carton,2,1.0,457.0,1429.0,1519.0,1071259.5
2,1,1537,2049,batch_1/000008.jpg,14,Other carton,Carton,3,531.0,292.0,1006.0,672.0,99583.5
3,2,1537,2049,batch_1/000010.jpg,5,Clear plastic bottle,Bottle,4,632.0,987.0,500.0,374.0,73832.5
4,2,1537,2049,batch_1/000010.jpg,7,Plastic bottle cap,Bottle cap,5,632.0,989.0,44.0,51.0,915.0

In [17]:
dataset['cat_name'].unique()

array(['Glass bottle', 'Meal carton', 'Other carton',
       'Clear plastic bottle', 'Plastic bottle cap', 'Drink can',
       'Food Can', 'Other plastic bottle', 'Pop tab', 'Aerosol',
       'Glass cup', 'Other plastic wrapper', 'Styrofoam piece',
       'Plastic film', 'Other plastic', 'Drink carton',
       'Metal bottle cap', 'Disposable food container', 'Normal paper',
       'Paper cup', 'Cigarette', 'Single-use carrier bag', 'Tissues',
       'Toilet tube', 'Crisp packet', 'Plastic lid', 'Metal lid',
       'Egg carton', 'Plastic straw', 'Paper bag',
       'Disposable plastic cup', 'Broken glass', 'Plastic utensils',
       'Glass jar', 'Food waste', 'Squeezable tube', 'Spread tub', 'Shoe',
       'Garbage bag', 'Aluminium foil', 'Six pack rings', 'Foam cup',
       'Paper straw', 'Corrugated carton', 'Unlabeled litter',
       'Aluminium blister pack', 'Battery', 'Rope & strings',
       'Other plastic container', 'Polypropylene bag', 'Scrap metal',
       'Magazine paper', 'Pizza box', 'Plastic glooves', 'Wrapping paper',
       'Carded blister pack', 'Foam food container', 'Tupperware',
       'Other plastic cup'], dtype=object)

In [19]:
dataset['supercategory'].unique()

array(['Bottle', 'Carton', 'Bottle cap', 'Can', 'Pop tab', 'Cup',
       'Plastic bag & wrapper', 'Styrofoam piece', 'Other plastic',
       'Plastic container', 'Paper', 'Cigarette', 'Lid', 'Straw',
       'Paper bag', 'Broken glass', 'Plastic utensils', 'Glass jar',
       'Food waste', 'Squeezable tube', 'Shoe', 'Aluminium foil',
       'Unlabeled litter', 'Blister pack', 'Battery', 'Rope & strings',
       'Scrap metal', 'Plastic glooves'], dtype=object)

In [11]:
## New dummy dataset:

In [12]:
import pandas as pd

In [33]:
data = {
    'img_file' : ['001.jpg','002.jpg','003.jpg','004.jpg','005.jpg','006.jpg'],
    'supercategory': ['cat','cat','dog','dog','parrot','parrot']
}

In [34]:
df = pd.DataFrame(data)

In [35]:
df

  img_file supercategory
0  001.jpg           cat
1  002.jpg           cat
2  003.jpg           dog
3  004.jpg           dog
4  005.jpg        parrot
5  006.jpg        parrot

In [36]:
df.to_csv('dummydataset.csv', index=False)

In [25]:
# Try the dummy dataset

In [42]:
dataset['supercategory'].value_counts()

supercategory
Plastic bag & wrapper    850
Cigarette                667
Unlabeled litter         517
Bottle                   439
Bottle cap               289
Can                      273
Other plastic            273
Carton                   251
Cup                      192
Straw                    161
Paper                    148
Broken glass             138
Styrofoam piece          112
Pop tab                   99
Lid                       87
Plastic container         72
Aluminium foil            62
Plastic utensils          37
Rope & strings            29
Paper bag                 27
Scrap metal               20
Food waste                 8
Shoe                       7
Squeezable tube            7
Blister pack               7
Glass jar                  6
Plastic glooves            4
Battery                    2
Name: count, dtype: int64

In [43]:
dataset[dataset['supercategory'] == 'Food waste']

,img_id,img_width,img_height,img_file,cat_id,cat_name,supercategory,ann_id,x,y,width,height,area
183,68,2448,3264,batch_1/000090.JPG,25,Food waste,Food waste,163,1118.0,1008.0,386.0,380.0,47527.5
191,72,2448,3264,batch_1/000094.JPG,25,Food waste,Food waste,171,665.0,936.0,1057.0,1023.0,704098.0
223,81,2448,3264,batch_1/000102.JPG,25,Food waste,Food waste,203,1177.0,1887.0,52.0,48.0,2134.5
224,81,2448,3264,batch_1/000102.JPG,25,Food waste,Food waste,204,1014.0,1875.0,50.0,46.0,1567.5
269,92,2448,3264,batch_1/000119.JPG,25,Food waste,Food waste,244,922.0,1748.0,492.0,775.0,254732.0
2239,704,2448,3264,batch_2/000022.JPG,25,Food waste,Food waste,2237,1346.0,1183.0,52.0,54.0,2242.0
2638,841,2448,3264,batch_3/IMG_4916.JPG,25,Food waste,Food waste,2611,1042.0,1305.0,144.0,212.0,21034.5
2856,924,3264,2448,batch_4/000054.JPG,25,Food waste,Food waste,2835,1611.0,364.0,477.0,406.0,118239.5